{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<body id="page-top">

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>원종의 웹 서버입니다.</h1>
                <hr>
                <p>이 홈페이지는 Bootstrap/css/html 테마로 제작되었어요. 앞으로의 디자인을 점차 수정할 계획입니다.
                그러기 위해선 이것 저것 만져보면서 어떤 기능이 있는지 살펴봐야 해요.</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">내려가볼까요?</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">첫 번째 기능입니다!</h2>
                    <hr class="light">
                    <p class="text-faded">이 곳은 홈페이지의 부가 설명란입니다. 이 홈페이지에 어떤 기능을 넣을지 고민해봤어요. 일단 로그인 기능을 넣으면 좋을 것 같구 파일 업로드와 DB연동도 추가해야겠어요.</p>
                    <a href="/login" class="btn btn-default btn-xl">로그인을 해볼까요?</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">제가 만들 일들은..</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-camera wow bounceIn text-primary"></i>
                        <h3>프로젝트 기록</h3>
                        <p class="text-muted">이 웹을 만들면서 했던걸 모두 스크린샷으로 기록하고있어요.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-credit-card wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>빠른 로그인</h3>
                        <p class="text-muted">쉽게 로그인을 할 수 있어요. 저처럼 말이에요.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>미세먼지 데이터</h3>
                        <p class="text-muted">미세먼지에 관한 실시간 데이터를 제공할 생각이에요.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-ambulance wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>보안 서비스 제공</h3>
                        <p class="text-muted">당신이 제공한 파일이 악성코드인지 한번 검사해볼게요.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="{% static "img/portfolio/1.jpg" %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    KB데이타시스템
                                </div>
                                <div class="project-name">
                                    메인 홈페이지
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="{% static "img/portfolio/2.jpg"%}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="{% static "img/portfolio/3.jpg" %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="http://www.kds.co.kr/kor/main/index.asp" class="portfolio-box">
                        <img src="{% static "img/portfolio/8.jpg" %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    KB데이타시스템
                                </div>
                                <div class="project-name">
                                    19/02/15 서류발표
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="https://kca.saramin.co.kr/service/kca/1257/applicant/pass/pass_confirm.asp" class="portfolio-box">
                        <img src="{% static "img/portfolio/9.jpg" %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    한국소비자원
                                </div>
                                <div class="project-name">
                                    19/02/25 서류발표
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="/dust" class="portfolio-box">
                        <img src="{% static "img/portfolio/7.jpg" %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    미세먼지
                                </div>
                                <div class="project-name">
                                    실시간으로 확인하세요
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>6가지 기능을 확인해보세요!</h2>
                <a href="#" class="btn btn-default btn-xl wow tada">위로 올라가볼까요?</a>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">마지막 단입니다.</h2>
                    <hr class="primary">
                    <p>회사에서 흔히 밑에 채용공고 문의나 회사 번호를 적어두는 곳이네요. 제 껄 남겨둘게요.</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>010-3258-2324</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>dnjswhd403@naver.com</p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="{% static "js/jquery.js"%}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static "js/jquery.easing.min.js" %}"></script>
    <script src="{% static "js/jquery.fittext.js" %}"></script>
    <script src="{% static "js/wow.min.js" %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static "js/creative.js" %}"></script>

</body>
{% endblock %}
